
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: white;
}

main{
    display:flex;
    width:992px;
    height:726px;
    margin-top:48p155px;
    margin-left:155px;
    gap:120px;
    align-items: flex-start;
    
}
.contact-form{
    display:flex;
    flex-direction: column;
    max-width:960px;
    height:726px;
}
.heading{
    width:480px;
    height:126px;
    justify-content: space-between;
    padding:16px;

    h1{
    width:453px;
    height:40px;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    line-height: 40px;
    color: #121417;   
   }
   
   p{
    width:447px;
    height:42px;
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    line-height: 21px;
    color: #61758a;
  
   }
}
form{
    .form-field{
        max-width:480px; 
        height:112px;
        padding-top:12px;
         padding-right:16px;
         padding-bottom:12px;
         padding-left:16px;
        gap:16px;

    }
    label{
        display:block;
        width:448px;
        height:32px;
        padding-bottom: 8px;
        color: #121417;
    }
    input{
        display:flex;
        width:448px;
        height:56px;
        border-radius:8px;
        border:1px;
        padding:15px;
        color:#121417;
    }
    
    
}
    .location{
    display:flex;
    flex-direction: column;
    width:392px;
    height:442px;
    
}
.details{
        display:flex;
        width:392px;
        height:164px;
        justify-content: space-between;

        h1{
        width:392px;
        height:44px;
        padding-bottom: 16px;
        font-weight: 700;
        font-style: Bold;
        font-size: 22px;
        line-height: 28px;
        color: #121417;
    }
}
.address{
    display: flex;
    width:392px;
    height:40px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 4px;
    justify-content: space-between;
    align-items: center;
    p{
        width:278px;
        height:24px;
        font-size: 16px;
        font-weight: 400;
        font-style: regular;
        line-height: 24px;
    }
}
.phone{
    display: flex;
    width:392px;
    height:40px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 4px;
    justify-content: space-between;
    align-items: center;

    p{
        width:360px;
        height: 24px;
        font-size: 16px;
        font-weight: 400;
        font-style: regular;
        line-height: 24px

    }

}
.email{
     display: flex;
    width:392px;
    height:40px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 4px;
    justify-content: space-between;
    align-items: center;
    p{
          width:360px;
        height: 24px;
        font-size: 16px;
        font-weight: 400;
        font-style: regular;
        line-height: 24px
    }

}
.image{
    width:392px;
    height: 246px;
    border-radius: 8px;
    justify-content: space-between;
}
