@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* MAIN LAYOUT */
main {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  align-items: flex-start;
}

/* ================= LEFT : THUMBNAILS ================= */
.shoe_view {
  width: 80px;
}

.shoe_view aside {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.shoe_view img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}

/* ================= CENTER : MAIN SHOE ================= */
.shoe {
  background: #f5f5f5;
  padding: 40px;
  border-radius: 12px;
}

.shoe img {
  width: 500px;
  height: auto;
  object-fit: contain;
}

/* ================= RIGHT : CONTENT ================= */
.content {
  width: 340px;
   display: flex;
  flex-direction: column;
  gap: 16px;
}


.content h1 {
  font-size: 28px;
  font-weight: 600;
}

.content h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
}

.content h3 {
  font-size: 16px;
  font-weight: 600;
}

.content p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

/* COLOR OPTIONS */
/*.content img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  display:flex;
  flex-direction: row;*/
.colors{
    display:flex;
    gap:10px;
}

.colors img {
     width: 48px;
  height: 48px;
  border-radius: 6px;
  margin-right: 8px;
}

/* ================= SIZE SECTION ================= */
.size {
  margin-top: 10px;
}

.size div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

/* SIZE BUTTONS */
.size-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.size-btn button {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-weight: 600;
  cursor: pointer;
}

/* ================= ACTION BUTTONS ================= */
.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.buy {
  padding: 16px;
  background: black;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cart {
  padding: 16px;
  background: white;
  color: black;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}
